[Unit]
Description=wirt.network adapter for automatic server updating
Documentation=https://wirt.network/docs/server

[Service]
Type=simple
Environment="PUBLIC_KEY=$INSERT_YOUR_PUBLIC_KEY_FROM_WIRT"
Environment="PORT=3030"
Environment="HOST=0.0.0.0"
# change the path below depending on where you placed the executable
ExecStart=/usr/bin/wirt-adapter 

[Install]
WantedBy=multi-user.target